{% extends 'bank/basic.html' %}
{% block title %} TSF BANK {% endblock %}


{% block body %}

                                  <!-- As a heading -->

            <div class="mx-auto" style="width: 200px;padding-top: 150px">
              <span class="navbar-brand mb-100 h1">TSF Basic Banking System </span>
            </div>
            <div class="mx-auto" style="width: 325px;padding-top: 75px">
              <span class="navbar-brand mb-100 h2">1.To Transfer Money Go to Transfer Tab </span>
              <span class="navbar-brand mb-100 h2">2.To View All Customers Go to Customers Tab </span>
              <span class="navbar-brand mb-100 h2">3.To View History Go to History Tab </span>
            </div>

{% endblock %}